
<!DOCTYPE html>
<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <h2>The Developers</h2>
    <p> Dominic Fuller-Rowell: A senior computer science student at CU Boulder. Email at dominic.fuller-rowell@colorado.edu</p>
    <p> Michael Brandt: A senior computer science student at CU Boulder. Direct emails to michael.brandt@colorado.edu</p>
    <p> Waverly Hinton: A senior computer science student at CU Boulder. Direct emails to waverly.hinton@colorado.edu</p>
