
<!DOCTYPE html>

    <h1>Differential GPS Correction Service</h1>
    <p>
     This is the home page for GPS corrections. More info about GPS Toolkit can be found 
	 <a href = "http://www.gpstk.org/bin/view/Documentation/WebHome"> here. </a>
